In [1]:
import numpy as np
import pandas as pd

In [2]:
links_df = pd.read_csv('data/links.csv')
links_df.head()

   movieId  imdbId  tmdbId
0        1  115734   13685
1        2  117102   47475
2        3  118040    2045
3        4  116483    9614
4        5  112579     688

In [3]:
movies_df = pd.read_csv('data/movies.csv')
movies_df.head()

,movieId,title,genres
0,1,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance
1,2,Mr. Wrong (1996),Comedy
2,3,Unforgettable (1996),Mystery|Sci-Fi|Thriller
3,4,Happy Gilmore (1996),Comedy
4,5,"Bridges of Madison County, The (1995)",Drama|Romance

In [4]:
ratings_df = pd.read_csv('data/ratings.csv')
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
tags_df = pd.read_csv('data/tags.csv')
tags_df.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [6]:
df = movies_df.merge(ratings_df, on='movieId')

In [7]:
M_j = 'Mr. Wrong (1996)' 
recommended_movies = []

movie_db = df[df['title'] == M_j]\
            .sort_values(by='rating', ascending=False)

for user in movie_db.iloc[:5]['userId'].values:
    rated_movies = df[df['userId'] == user]
    
    rated_movies = rated_movies[rated_movies['title'] != M_j]\
                    .sort_values(by='rating', ascending=False)\
                    .iloc[:5]
    
    recommended_movies.extend(list(rated_movies['title'].values))
    
recommended_movies = np.unique(recommended_movies)
    
for movie in recommended_movies:
    print(movie)

Awfully Big Adventure, An (1995)
Basketball Diaries, The (1995)
Bottle Rocket (1996)
Boys of St. Vincent, The (1992)
Braveheart (1995)
Bridges of Madison County, The (1995)
Brothers McMullen, The (1995)
Chungking Express (Chung Hing sam lam) (1994)
Congo (1995)
Crumb (1994)
Hackers (1995)
Jade (1995)
Nobody Loves Me (Keiner liebt mich) (1994)
Something to Talk About (1995)
Steal Big, Steal Little (1995)
Unforgettable (1996)
Young Poisoner's Handbook, The (1995)

In [8]:
gmovie_genres = df[df['title'] == M_j].iloc[0]['genres'].split('|')
scores = {}  # {title: score ...}

for movie in recommended_movies:
    movied = df[df['title'] == movie].iloc[0]
    movie_genres = movied['genres'].split('|')
    score = 0
    
    for gmovie_genre in gmovie_genres:
        if gmovie_genre in movie_genres:
            score += 1
    
    scores[movie] = score
    
recommended_movies = sorted(scores, key=lambda x: scores[x])[::-1]

In [9]:
for movie in recommended_movies:
    print(movie)

Steal Big, Steal Little (1995)
Something to Talk About (1995)
Nobody Loves Me (Keiner liebt mich) (1994)
Brothers McMullen, The (1995)
Bottle Rocket (1996)
Young Poisoner's Handbook, The (1995)
Unforgettable (1996)
Jade (1995)
Hackers (1995)
Crumb (1994)
Congo (1995)
Chungking Express (Chung Hing sam lam) (1994)
Bridges of Madison County, The (1995)
Braveheart (1995)
Boys of St. Vincent, The (1992)
Basketball Diaries, The (1995)
Awfully Big Adventure, An (1995)

In [ ]:
df.head()